
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
img {
    width: 20%;
    height: auto;
    border-radius: 15%;
    border: 3px solid rgb(40, 77, 180);

}
h1 {
    color: rgb(18, 91, 158);
    text-align: center;
}

p {
    font-size: 20px;
    color: rgb(11, 96, 146);
}


  
  h1 {
    color: rgb(12, 84, 116);
    text-align: center;
  }
  
  p {
    margin: 10px;
    padding: 20px;
    background-color: #aad9ff;
  }
  

  header {
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsl(199, 74%, 59%);
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgb(12, 84, 116);
}
.main-content {
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    color: rgb(12, 84, 116);
}

.footer {
    background-color: rgb(11, 96, 146);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.tt {
    align-items: center;
    line-height: 1.2;
}

.ini {
    display: flex;
    align-items: center;
}

.ini img {
    margin-right: 12px;
}

.tt h1, .tt h5 {
    margin: 0;
}